*,
* *,
* * * {
    margin: 0%;
    padding: 0;
}

body {
    background: rgb(1, 21, 54);
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 170px;
    margin-top: 30px;
    padding: 10px 0 30px 0;
    border-radius: 50px;
    background: rgb(33, 85, 167);
    background: linear-gradient(180deg, rgba(33, 85, 167, 1) 0%, rgba(3, 39, 95, 1) 69%);
    border: groove 5px #03d264;
}

.content {
    width: 50%;
    padding-top: 8px;
    padding-left: 0%;
    border-radius: 30px;
}

#h22 {
    color: bisque;
    display: flex;
    margin-left: 30px;
}

#h2 {
    color: bisque;
    display: flex;
    margin-left: 80px;
}

#h44,
#h422 {
    color: bisque;
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}

#h4,
#h42 {
    color: bisque;
    display: flex;
    margin-left: 80px;
}

.img {
    width: 43%;
    margin-top: 20px;
    border-radius: 25px;
    height: 90%;
    overflow: hidden;
}

img {
    display: flex;
    position: relative;
    margin-top: -.5%;
    margin-left: -.5%;
    width: 102%;
    height: 102%;
}

form {
    display: flex;
    justify-content: center;
}

#input {
    display: flex;
    position: absolute;
    font-weight: bold;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #007c94 0%, #01cf61 100%);
    top: 225px;
    border: groove 5px #03d264;
}

#input:focus {
    font-size: 20px;
    padding: 0;
    outline: none;
    color: #03d264;
    background: rgb(1, 21, 54);
    border-color: linear-gradient(to right, #007c94, #01cf61);
    border: solid 3px;
    width: 125px;
    height: 35px;
    transition: 500ms;
}

#input:focus::placeholder {
    color: rgba(1, 21, 54, .0);
}

#input[type=number]::-webkit-inner-spin-button,
#input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input::placeholder {
    transition: 500ms;
    font-weight: bold;
    color: rgba(1, 21, 54, .6);
    font-size: 16px;
}

#btn {
    display: flex;
    position: absolute;
    background-image: linear-gradient(to right, #007c94 0%, #01cf61 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #03d264;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    top: 280px;
}

#btn:hover {
    color: #fff;
}

#btn:hover .bn31span {
    background: transparent;
}

#btn .bn31span {
    align-items: center;
    background: rgb(1, 21, 54);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

i {
    display: flex;
    position: absolute;
    color: rgb(5, 56, 139);
    font-size: 60px;
    bottom: 20%;
    margin-left: -1.5vw;
}

i:hover {
    transform: scale(1.5);
}

@media (max-width: 767px) {
    .card {
        width: 320px;
        top: 25vh;
        padding: 10px 0 20px 0;
        height: 32vh;
    }
    .content {
        width: 90%;
    }
    #input {
        top: 65vh;
        border: groove 5px #03d264;
    }
    #btn {
        top: 75vh;
    }
    .img {
        position: absolute;
        height: 180px;
        width: 230px;
        top: -28vh;
        transition: 250ms;
        left: 16%;
    }
    i {
        top: 80%;
        left: 80%;
        color: rgba(3, 39, 95, 1)
    }
}

@media (max-height: 500px) {
    .img {
        height: 150px;
        width: 200px;
        left: 20% !important;
    }
}

@media (max-height: 550px) {
    #btn {
        top: 80vh;
    }
    #input {
        top: 70vh;
        border: groove 5px #03d264;
    }
    .img {
        top: -32vh;
        left: 16%;
    }
    .card {
        height: 34vh;
    }
}